<h1> Create Meetup </h1>
<form method="post" action="/new" id="new_meetup">
  Name:
  <input type="text" style= "color: black" name="name">
  Location:
  <input type="text" style= "color: black" name="location">
  Description:
  <input type="text" style= "color: black" name="description" size="250">
  <input type="submit" value="Add">
</form>
